@import "conf.rasi"
window {
  location:center;
  anchor:center;
  width: 300px;
  height: 80px;
}

listview {
  enabled: false;
}

entry {
  placeholder: "Super Secret Password";
  background-color:transparent;
}
