 /* wallust template - colors-waybar */

@define-color foreground #B6EACF;
@define-color background #171C1A;
@define-color cursor #5F8F78;

@define-color color0 #3E4240;
@define-color color1 #061F14;
@define-color color2 #052718;
@define-color color3 #124D30;
@define-color color4 #236139;
@define-color color5 #1C7446;
@define-color color6 #239258;
@define-color color7 #8FD9B2;
@define-color color8 #64987D;
@define-color color9 #09291B;
@define-color color10 #073420;
@define-color color11 #18673F;
@define-color color12 #2E814C;
@define-color color13 #259A5E;
@define-color color14 #2FC376;
@define-color color15 #8FD9B2;
