 /* wallust template - colors-waybar */

@define-color foreground #F8F4E5;
@define-color background #2C2C2C;
@define-color cursor #E99488;

@define-color color0 #515151;
@define-color color1 #212120;
@define-color color2 #A42820;
@define-color color3 #52605B;
@define-color color4 #91566C;
@define-color color5 #A07A1F;
@define-color color6 #B0A788;
@define-color color7 #EDE7D2;
@define-color color8 #A6A193;
@define-color color9 #2C2C2B;
@define-color color10 #DA352B;
@define-color color11 #6E8079;
@define-color color12 #C17290;
@define-color color13 #D5A32A;
@define-color color14 #EBDFB6;
@define-color color15 #EDE7D2;
