/* Colores para el tema catppuccin */

@import url('./wallust/colors-waybar.css');

/* Variables de color con fallback */
@define-color bordercolor @color11;
@define-color textcolor1 @color3;
@define-color textcolor2 @color8;
@define-color textcolor4 @color5;
@define-color background #0d0509;
@define-color foreground #f0eaed;
* {
  background-color:@background;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13px;
}

.modules-left {
  margin-left: 0px;
}

.modules-right {
  margin-right: 8px;
}

#tags {
  border-radius: 0rem;
  padding: 0rem 0rem;
}

#tags button {
  color: @bordercolor;
  padding: 0rem 0rem;
  margin: 0rem 0rem;
}

#tags button:not(.occupied):not(.focused):not(.overview):not(.urgent) {
  font-size: 0;
  min-width: 0;
  min-height: 0;
  margin: -8px;
  padding: 0;
  color: transparent;
  background-color: transparent;
}

#tags button.occupied {
  color: @textcolor4;
}

#tags button.focused {
  color: @textcolor2;
  min-width: 30px;
}

#tags button.urgent {
  background-color: #ef5e5e;
  color: #282828;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 1px;
  padding-bottom: 0px;
  border-radius: 3px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
  background-color: @background;
}

#workspaces button.empty {
  opacity: 0.5;
}

#custom-mtp,
#cpu,
#custom-mpris,
#backlight,
#battery,
#pulseaudio,
#custom-menu,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
}

#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin-right: 20px;
}

tooltip {
  padding: 2px;
  background-color: @background;
  color: @foreground;
}

#custom-update {
  font-size: 10px;
}

#clock {
  padding: 0rem 1rem;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-power {
  padding: 0rem 0.4rem;
  margin: 0rem 0.4rem;
}

