* {
active-background: #1e1e2e;
active-foreground: #C4CBD7;
normal-background: #161619;
normal-foreground: #C4CBD7;
urgent-background: #445472;
urgent-foreground: #C4CBD7;

alternate-active-background: #151B2B;
alternate-active-foreground: #C4CBD7;
alternate-normal-background: #161619;
alternate-normal-foreground: #C4CBD7;
alternate-urgent-background: #161619;
alternate-urgent-foreground: #C4CBD7;

selected-active-background: #445472;
selected-active-foreground: #C4CBD7;
selected-normal-background: #445472;
selected-normal-foreground: #C4CBD7;
selected-urgent-background: #15223E;

background: rgba(0,0,0,0.7);
background-color: #1e1e2e;
foreground: #C4CBD7;
border-color: #15223E;

color0: #3D3D41;
color1: #0D101C;
color2: #0D111D;
color3: #101421;
color4: #101A2F;
color5: #333F56;
color6: #404F69;
color7: #A2ACBD;
color8: #717884;
color9: #111625;
color10: #111727;
color11: #151B2B;
color12: #15223E;
color13: #445472;
color14: #55698C;
color15: #A2ACBD;


}

