@define-color text #B6EACF;
@define-color background rgba(23,28,26,0.25);
@define-color background-alt #171C1A;
@define-color cursor #5F8F78;
@define-color hovered #2E814C;
@define-color button-background #239258;
@define-color button-active #052718;
@define-color border #09291B;
@define-color urgent #8FD9B2;
